.jobDivContainer{
    color:rgb(153, 153, 153);
    padding-bottom: 7rem;
}

.jobTitle{
    padding-top: 10rem;
    text-transform: uppercase;
    text-align: center;
    font-size: 6rem;
    font-style: italic;
    letter-spacing: .3rem;
    font-weight: 450;
    text-shadow: 0.1rem 0.1rem rgb(95, 95, 95);
    text-shadow:
        -0.1rem 0rem black,
         0rem 0.1rem black,
         0.1rem 0rem black,
         0rem -0.1rem black;
    padding-bottom: 8rem;

}

.jobListContainerDiv{
    background-color: rgba(153, 153, 153,0.2);
    border-style: inset;
    border-width: 0.5rem;
    border-radius: 5rem;
}

.jobList{
    align-content: center;
    font-size: 1rem;
    padding: 1rem;
    margin: 1.5rem;
}

pre{
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.jobHeader{
    display: flex;
}

.jobHeaderEnterprise{
    width: 15%;
    flex-direction: column;
    color: rgb(200, 0, 0);
    font-weight: bold;
    font-size: 1.2rem;
}

.jobHeaderDates{
    width: 85%;
    flex-direction: column;
    font-size: 1rem;
    font-style: italic;
}

.jobSummary{
    font-style: italic;
    font-weight: bold;
}

.jobDescription{
    margin-left: 1rem;
}

@media(max-width: 1200px){

    .jobListContainerDiv{
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

@media(max-width: 800px){

    .jobTitle{
        font-size: 3rem;
        padding-top: 5rem;
        padding-bottom: 1.5rem;
    }
}

@media(max-width: 500px){

  .jobHeaderEnterprise{
    width: 30%;
}

.jobHeaderDates{
    width: 70%;
}

}



