.bio-textContainerDiv{
    padding-right: 10rem;
}

.bio-text{
    color:rgb(153, 153, 153);
    white-space: pre-wrap;
    font-size: 3rem;
    text-align: center;
    margin: center;
    letter-spacing: 0.1rem;
    line-height: 3.5rem;
    font-family: 'Caveat', cursive;
}

@media(max-width: 800px){
    .bio-textContainerDiv{
        width: 100%;
        padding-right: 0;
    }

    .bio-text{
        margin: 0 3rem;
        font-size: 1.7rem;
        line-height: 1.7rem;
        text-align: justify;
    }
}
