<div [class]= "setContentDivClass()" id="contentDiv">
        <div *ngFor="let lan of languageList" id="languageListDiv" >
                <img [class]= "setButtonClass()" name="btnImg" [src]= "imgURLBuilder(lan)" alt={{lan}} (click)="onClickChangeLanguage($event)">
        </div>
</div>
