.btnLanguage{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border-style: inset;
    border-color:rgba(153, 153, 153,0.9);
    border-width: 0.2rem;
    cursor: pointer;
    margin: 0;
    margin-bottom: 1rem;

}

.btnLanguage:hover{
    border-width: 0.3rem;
    border-color:rgb(200, 0, 0);
}

.stickSelectorContentDiv{
  width: 100%;
  display: flex;
}

.stickBtnLanguage{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border-style: inset;
  border-color:rgba(153, 153, 153,0.9);
  border-width: 0.2rem;
  cursor: pointer;
  margin-right: 2rem;
  margin-top: .1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media(max-width: 800px){

    .selectorContentDiv{
      width: 100%;
      display: flex;
    }

    .btnLanguage{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .stickBtnLanguage{
      width: 2.7rem;
      height: 2.7rem;
      margin-right: 1rem;
      margin-top: .2rem;
    }
}

@media(max-width: 500px){
   .stickBtnLanguage{
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    margin-top: .3rem;
  }


}

