.navBarContainerDiv{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBar{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.navBar::before{
    content:"";
    width: 0%;
    height: 100%;
    border-radius: 1rem;
    background-color: rgba(200,0,0,.4);
    position: absolute;
    transition: width 0.2s;
    z-index: 2;
}

.navBar:hover::before{
    width: 100%;
    z-index: 3;
}

.change.navBar::before{
    width: 100%;
    background-color: rgba(200,0,0,0.2);
    z-index: 3;
}


.navBar-link{
    font-size: 1.7rem;
    font-weight: 600;
    font-style: italic;
    color:rgb(153, 153, 153);
    margin: 0 3rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    padding: 0.3rem;
    transition: color 0.2s;
    position: relative;
    z-index: 4;
}

.navBar-link:hover{
    color:rgb(255,255,255);
    position: relative;
    z-index: 5;
}

.change.navBar-link{
    color:rgb(255,255,255);
    position: relative;
    z-index: 5;
}

@media(max-width: 1300px){
    .navBar-link{
        font-size: 2rem;
        font-weight: 500;
        margin: 0 0.8rem;
        letter-spacing: .2rem;
    }
}


@media(max-width: 1200px){
    .navBar-link{
        font-size: 2rem;
        font-weight: 500;
        margin: 0 0.5rem;
        letter-spacing: .2rem;
    }
}

@media(max-width: 900px){
    .navBar-link{
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: .1rem;
        padding: 0.1rem;
    }
}


@media(max-width: 800px){
    .navBar-link{
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: .1rem;
        padding: 0.1rem;
    }
}

@media(max-width: 500px){
    .navBar-link{
        font-size: 0.8rem;
        font-weight: 400;
        margin: 0 0.2rem;
    }
}
