.main-section{
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.9),
        rgba(30,30,30,0.7)
    ),
    url(../assets/background/mainBg.jpg) center
    no-repeat;
    display: flex;
    background-size: cover;
}

.cover{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bio-section{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-header{
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.navbar-section{
    width: 100%;
    height: 5vh;
    background: rgba(200,0,0,1) linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(30,30,30,0.5)
    );
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    box-shadow: .2rem, .2rem, .5rem #333;
    position: absolute;
    z-index: 300;
}

.sticky{
    position: fixed;
    top:0;
}

.stickyNavBar{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: -15rem;
}

.stickyLanguage{
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.skils-section{
    width: 100%;
    height: fit-content;
    background: linear-gradient(
        rgba(0, 0, 0, 0.9),
        rgba(30,30,30,0.7)
    ),
    url(../assets/background/skillBg.jpg) center
    no-repeat;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: top;
}


.jobs-section{
    width: 100%;
    height: fit-content;
    background: linear-gradient(
        rgba(0, 0, 0, 0.9),
        rgba(30,30,30,0.7)
    ),
    url(../assets/background/jobBg.jpg) center
    no-repeat;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: top;
}


.footerSection{
    width: 100%;
    height: fit-content;
    background: linear-gradient(
        rgba(0, 0, 0, 0.9),
        rgba(30,30,30,0.7)
    ),
    url(../assets/background/contactBg.jpg);

}

.mail-form-section{
    display: flex;
    justify-content: center;
    align-items: top;
    padding-bottom: 10rem;
}

.contact-section{
    display: flex;
    justify-content: center;
    align-items: top;
}


@media(max-width: 1400px){

    .skils-section{
        height: fit-content;
        }
}

@media(max-width: 1300px){
    .stickyNavBar{
        margin-right: -13rem;
    }

}


    
@media(max-width: 1200px){

    .jobs-section{
      height: fit-content;
      }
    .footerSection{
      height: fit-content;
      }

    .stickyNavBar{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: -12rem;
    }
      
}

@media(max-width: 1070px){

    .stickyNavBar{
        margin-right: -5rem;
    }

    .stickyLanguage{
        margin-right: -5rem;
      }
}

@media(max-width: 800px){
    .main-section{
        height: fit-content;
        display: inline-block;
        width: 100%;
        height: fit-content;
    }

    .cover{
        width: 100%;
        height: 45vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bio-section{
        width: 100%;
        height: 35vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-header{
        width: 100%;
        height: 20vh;
        display: flex;
        flex-direction: column;
    }

    .stickyNavBar{
      width: 80%;
      margin-right: -11rem;
    }

    .stickyLanguage{
      width: 20%;
    }

    .mail-form-section{
        margin-bottom: 2rem;
    }

    .contact-section{
        padding-top: 7rem;
    }

    @media(max-width: 700px){

        .stickyNavBar{
            margin-right: 0;
        }
    
        .stickyLanguage{
            margin-right: 0;
          }
    }
    
    @media(max-width: 500px){

        .stickyNavBar{
            margin-right: -4rem;
        }
    
        .stickyLanguage{
            margin-right: -6rem;
          }
    }

    @media(max-width: 420px){

        .stickyNavBar{
            margin-right: 0rem;
        }
    
        .stickyLanguage{
            margin-right: 0rem;
          }
    }




}

