.ownerDataContainerDiv{
    width: 100%;
    height: 100vd;
}
    
.firstName{
    color: rgb(200, 0, 0);
    text-align: center;
    text-shadow: 0.1rem 0.1rem rgb(51, 0, 0);
    text-shadow: 
        -0.1rem 0rem black, 
         0rem 0.1rem black, 
         0.1rem 0rem black, 
         0rem -0.1rem black;
    font-size: 6rem;
    font-weight: 550;
    padding-bottom: 4rem;
}

.lastName{
    color:rgb(216, 216, 216);
    text-shadow: 0.1rem 0.1rem rgb(95, 95, 95);
    text-shadow: 
        -0.1rem 0rem black, 
         0rem 0.1rem black, 
         0.1rem 0rem black, 
         0rem -0.1rem black;
    font-size: 6rem;
    text-align: center;
}

@media(max-width: 1200px){
    .firstName{
        font-size: 4rem;
        padding-bottom: 1.8rem;
    }

    .lastName{
        font-size: 4rem;
    }
}

@media(max-width: 800px){
    .firstName{
        font-size: 3rem;
        padding-bottom: 1.5rem;
    }

    .lastName{
        font-size: 3rem;
    }
}