.educationDivContainer{
    color:rgb(153, 153, 153);
}

.educationTitle{
    padding-top: 5rem;
    text-transform: uppercase;
    text-align: center;
    font-size: 6rem;
    font-style: italic;
    letter-spacing: .3rem;
    font-weight: 450;
    text-shadow: 0.1rem 0.1rem rgb(95, 95, 95);
    text-shadow: 
        -0.1rem 0rem black, 
         0rem 0.1rem black, 
         0.1rem 0rem black, 
         0rem -0.1rem black;
    padding-bottom: 8rem;

}

.educationList{
    font-size: 2rem;
    padding: 4rem;
    background-color: rgba(153, 153, 153,0.2);
    border-style: inset;
    border-width: 0.5rem;
    border-radius: 5rem;
    margin-bottom: 1.5rem;
}

.degreeContainerDiv{
    width: 100%;
    display: flex;

}

.degree{
    font-weight: bold;
    padding-right: 0.5rem;
}

.degreeDesc{

}