.contactContainerDiv{
    display: flex;
    background-color: rgba(153, 153, 153,0.2);
    border-style: inset;
    border-width: 0.5rem;
    border-radius: 5rem;
    margin-bottom: 3rem;

}

.icoContainer{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.icoImg{
    background-color: rgb(153, 153, 153);;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border-style: inset;
    border-color:rgba(153, 153, 153,0.9);
    border-width: 0.2rem;
    cursor: pointer;
    margin: 1rem;
}

.icoImg:hover{
    border-width: 0.3rem;
    border-color:rgb(200, 0, 0);
}


@media(max-width: 800px){
    .icoContainer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

@media(max-width: 800px){
  .icoContainer{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
  }
}

@media(max-width: 400px){
  .contactContainerDiv{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
  }

  .icoImg{
      margin: 0.5rem;
  }
}
