.text-titleContainerDiv{
}

.titleText{    
    color:rgb(153, 153, 153);
    font-size: 4rem;
    text-align: center;
}

@media(max-width: 1200px){
    .titleText{    
        font-size: 3rem;
    }
}

@media(max-width: 800px){
    .titleText{    
        font-size: 2rem;
    }
}