.owner-avatar-imgContainerDiv{
    padding: 5rem;
}


.owner-avatar-img{
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 50%;
    border-style: inset;
    border-color:rgba(153, 153, 153,0.9);
    border-width: 0.5rem;
    margin: 3rem;
    padding: 0.5rem;
    background-color: rgba(0,0,0,0.4);
}

@media(max-width: 1200px){
    .owner-avatar-img{
        width: 20rem;
        height: 20rem;
        margin: 1.5rem;
    }

    .owner-avatar-imgContainerDiv{
        padding: 1.5rem;
    }
}

@media(max-width: 800px){
    .owner-avatar-img{
        width: 15rem;
        height: 15rem;
        margin: 1rem;
    }

    .owner-avatar-imgContainerDiv{
        padding: 1rem;
    }
}