.formContactContainerDiv{
  width: auto;
  color:rgb(153, 153, 153);
}

.email-form-title{
  padding-top: 15rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 6rem;
  font-style: italic;
  letter-spacing: .3rem;
  font-weight: 450;
  text-shadow: 0.1rem 0.1rem rgb(95, 95, 95);
  text-shadow:
      -0.1rem 0rem black,
       0rem 0.1rem black,
       0.1rem 0rem black,
       0rem -0.1rem black;
  padding-bottom: 5rem;

}

.email-loading-title{
  padding-top: 0.8rem;
  text-align: center;
  font-size: 2rem;
  font-style: italic;
  letter-spacing: .3rem;
  font-weight: 450;
  text-shadow: 0.1rem 0.1rem rgb(95, 95, 95);
  text-shadow:
      -0.1rem 0rem black,
       0rem 0.1rem black,
       0.1rem 0rem black,
       0rem -0.1rem black;
  padding-bottom: 5rem;
}

.sendMailProcess{
  padding: 5rem, 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 2rem;

}

.sendMailProcessMesageOk{
  padding-top: 0.8rem;
  text-align: center;
  font-size: 2rem;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 450;
  text-shadow: 0.1rem 0.1rem rgb(95, 95, 95);
  text-shadow:
      -0.1rem 0rem black,
       0rem 0.1rem black,
       0.1rem 0rem black,
       0rem -0.1rem black;
  padding-bottom: 5rem;
}

.sendMailProcessMesageErr{
  padding-top: 0.8rem;
  text-align: center;
  font-size: 2rem;
  color:rgba(200,0,0,0.7);
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 450;
  text-shadow: 0.1rem 0.1rem rgb(95, 95, 95);
  text-shadow:
      -0.1rem 0rem black,
       0rem 0.1rem black,
       0.1rem 0rem black,
       0rem -0.1rem black;
  padding-bottom: 5rem;
}


.formContainerDiv {
    min-width: 30rem;
    max-width: 100rem;
    background-color: rgba(153, 153, 153,0.2);
    border-style: inset;
    border-width: 0.5rem;
    border-radius: 5rem;
  }

 .example-form{
  margin: 5rem;
  align-content: center;
  justify-content: center;
}

.example-full-width {
  width: 100%;
}


@media(max-width: 800px){

  .email-form-title{
    width: 100%;
    font-size: 3rem;
      padding-top: 5rem;
  }
}

@media(max-width: 700px){

  .formContainerDiv{
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media(max-width: 400px){

  .formContainerDiv{
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

